@import "node_modules/@bbva-web-components/bbva-foundations-sass/main";
@import "node_modules/bootstrap/dist/css/bootstrap";

:host {
  display: block;
  box-sizing: border-box;
}

:host([hidden]), [hidden] {
  display: none !important;
}

*, *:before, *:after {
  box-sizing: inherit;
}
.model{
  display: flex;
  
}
